langchain
python-dotenv
ipykernel
langchain-community
bs4
langchain-text-splitters
langchain-openai 
chromadb
langchain_huggingface
faiss-cpu
pandas
streamlit
langchain_chroma
openai
pypdf
langchain-groq
sentence-transformers
arxiv
wikipedia
validators==0.28.1
youtube_transcript_api
unstructured
pytube
