streamlit==1.32.0
altair==4.2.2

langchain==0.2.17
langchain-community==0.2.16
langchain-groq==0.1.10
langchain-huggingface==0.0.3

faiss-cpu==1.8.0.post1

sentence-transformers==3.0.1
transformers==4.44.2
huggingface-hub==0.24.6
torch==2.4.1

validators==0.34.0
youtube-transcript-api==0.6.3
beautifulsoup4==4.12.3
requests==2.32.3
lxml==5.2.2